@if (movie$ | async; as movie) {
  <div>

    <div class="w-full max-w-screen-xl mx-auto my-4 flex gap-4 items-start justify-start">
        <div class="flex-1 flex flex-col gap-4 ml-1">
          <div class="flex gap-4 items-start">
            <div class="flex-1">
              <video controls class="w-full h-auto block">
                <source src="assets/filme/{{ movie.idFilme }}.mp4" type="video/mp4" />
                Your browser does not support the video tag.
              </video>
            </div>

          </div>
          <div class="flex flex-row gap-3 text-sm flex-col justify-between">
            <div class="flex-1">
              <p class="text-6xl font-bold text-left">{{ movie.Titel }}</p>
              <p class="text-sm text-left italic ml-2">von
                <a
                  [routerLink]="['/kategorien']"
                  [queryParams]="{ suche: movie.Anzeigename }"
                  class="text-blue-600 hover:underline">
                  {{ movie.Anzeigename }}
                </a>
                hochgeladen am {{movie.UploadDatum | date:'dd.MM.yyyy'}}</p>
            </div>
            <div class="flex flex-col items-center gap-1 p-2 cursor-normal">
              <span class="text-2xl">👁️</span>
              <p class="text-lg font-semibold">{{ movie.Aufrufe }}</p>
            </div>
            <div class="text-center">
              @if (this.authService.isLoggedIn()){
                @if (isLiked$ | async; as isLiked) {
                  @if (isLiked.isLiked) {
                    <button (click)="likeMovie(movie)" class="flex flex-col items-center gap-1 p-2 rounded bg-red-500 hover:bg-red-300 transition cursor-pointer">
                      <span class="text-2xl">❤️</span>
                      <p class="text-lg font-semibold">{{ movie.Likes || 0 }}</p>
                    </button>
                  }@else{
                    {{isLiked.isLiked}}
                    <button (click)="likeMovie(movie)" class="flex flex-col items-center gap-1 p-2 rounded hover:bg-gray-100 transition cursor-pointer">
                      <span class="text-2xl">❤️</span>
                      <p class="text-lg font-semibold">{{ movie.Likes || 0 }}</p>
                    </button>
                  }
                }
              }@else{
                <button class="flex flex-col items-center gap-1 p-2 rounded transition">
                    <span class="text-2xl">❤️</span>
                    <p class="text-lg font-semibold">{{ movie.Likes || 0 }}</p>
                  </button>
              }
            </div>
          </div>

          <div class="w-full flex flex-col gap-2">

            <p class="text-xl text-left mt-2">{{ movie.Beschreibung }}</p>
          </div>
        </div>

        <div class="w-2/5 mr-4">
          <app-comment-grid-component [idFilm]="movie.idFilme"></app-comment-grid-component>
        </div>

      </div>
  </div>
}
