<main class="min-h-screen bg-gray-200 text-black flex justify-center px-6 py-12">

  <section class="w-full max-w-4xl">

    <h1 class="text-4xl font-bold mb-8">
      Mein Account
    </h1>


    <div class="bg-white rounded-2xl shadow-lg p-8">


      <!-- Profil Kopf -->
      <div class="flex items-center gap-6 mb-8">

        <div class="w-24 h-24 rounded-full bg-blue-600 text-white flex items-center justify-center text-4xl font-bold">
          {{ getInitial() }}
        </div>


        <div>

          <h2 class="text-3xl font-bold">
            {{ authService.currentUsername() }}
          </h2>



          @if (authService.istProduzent()) {

            <p class="text-gray-500 mt-1">
              Produzent
            </p>

          } @else {

            <p class="text-gray-500 mt-1">
              Nutzer
            </p>

          }


          <p class="text-green-600 font-bold">
            Eingeloggt
          </p>


        </div>

      </div>



      <!-- Produzenten Informationen -->
      @if ((produzent$ | async);as produzent) {
        @if (authService.istProduzent()){

        <div class="rounded-xl p-5 mb-6">

          <p>
            <span class="font-bold">
              Anzeigename:
            </span>
            {{ produzent.anzeigename }}
          </p>


          <p>
            <span class="font-bold">
              Studiengang:
            </span>
            {{ produzent.studiengang }}
          </p>


          <p>
            <span class="font-bold">
              E-Mail:
            </span>
            {{ produzent.email }}
          </p>


          <button
            class="mt-4 bg-blue-600 text-white px-5 py-2 rounded-xl hover:bg-blue-700">
            <a class="hover:text-blue-500 transition" routerLink="/upload" routerLinkActive="text-white border-b-2">Film hochladen</a>
          </button>


        </div>
        }
      }

      @if (authService.istProduzent()) {

        <app-movie-row
          [daten]="{
          kategorie: 'Meine Filme',
          sortierung: 'meine'
        }">
        </app-movie-row>

      }

      <!-- Logout -->
      <div class="mt-8 flex justify-end">

        <button
          class="bg-red-600 text-white font-bold px-6 py-2 rounded-xl hover:bg-red-700 transition"
          type="button"
          (click)="abmelden()">

          Abmelden

        </button>

      </div>


    </div>


  </section>

</main>
